<div ng-app="app">
    <div ng-controller="friendCtrl" ng-init="setup()">
        <p>{{ message }}</p>
        <p>{{ friendsCount }}</p>
        <input ng-model="addFilter">
        <div ng-repeat="friend in friends | filter: {first_name: addFilter}">
          <p>Name: {{ friend.full_name }}</p>
          <p>Birthday: {{ friend.birthday }}</p>
          <p>Cat name: {{ friend.cat_name }}</p><br>
        </div>

        <div >
          First Name: <input ng-model="newFriendFirstName"><br>
          Last Name: <input ng-model="newFriendLastName"><br>
          Birthday: <input ng-model="birthday"><br>
          Cat Name: <input ng-model="cat_name"><br>
          <button ng-click="addFriend(newFriendFirstName, newFriendLastName, birthday, cat_name)">Add Friend</button>

        </div>
    </div>

</div>
