<div ng-app="app">
    <div ng-controller="friendCtrl" ng-init="setup()">
        <p>{{ message }}</p>
        <p>{{ friendsCount }}</p>
        <div ng-repeat="friend in friends">
        </div>
    </div>

</div>
